<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >

</head>
<body>
<main class="container" >
    <a href="/cadastro-despesa">Nova Despesa</a></br>
    <a href="/lista-despesa">Lista Despesa</a></br>

    <form  th:action="@{/editar-despesa/{id}(id=${despesa.id})}" method="post">
        <label for="">ID</label>
        <input type="number" name="id" th:value="${despesa.id}" ></br>

        <label for="">Nome da Despesa</label>
        <input type="text" name="nome" th:value="${despesa.nome}" ></br>

        <label for="">Categoria</label>
        <input type="text" name="categoria" th:value="${despesa.categoria}"></br>

        <label for="">Data de Pagamento</label>
        <input type="date" name="dataDespesa" th:value="${despesa.dataDespesa}"></br>

        <label for="">Valor da Despesa</label>
        <input type="number" name="valorPagamento" step=".01" th:value="${despesa.valorPagamento}" ></br>

        <label for="">Descrição</label>
        <input type="text" name="descricao"  th:value="${despesa.descricao}"></br>

        <input type="submit" value="editar">

    </form>
</main>


</body>
</html>